body {
    background-color: #D9D7F1;
    color: 0f0e0e;
  }
  
  
  .nav-link{
      text-decoration:none;
      font-size: 15px;
     }
  #title {
    font-size: 30px;
  }
  #description {
    font-size: 20px;
  }
  #submit {
    background-color: grey;
  }
  #contact{
      background-color: azure;
  }
  